* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "CursorGothic";
  src: url("./public/fonts/CursorGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "CursorGothic";
  src: url("./public/fonts/CursorGothic-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: "CursorGothic";
  src: url("./public/fonts/CursorGothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: "CursorGothic";
  src: url("./public/fonts/CursorGothic-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

body {
  background-color: #14120b;
  max-width: 1300px;
  margin: auto;
  font-family: "CursorGothic", sans-serif;
}

/* Top Nav Bar */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-top: 16px;
  font-size: 14px;
  font-style: normal;
}

.quick-links ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-logo {
  width: 100px;
}

.sign-in {
  padding: 4px 10px;
  border-radius: 60px;
  background-color: transparent;
  color: #edecec;
  border: 1px solid rgba(237, 236, 236, 0.2);
  margin-right: 4px;
  font-size: 14px;
}

.download {
  padding: 4px 10px;
  border-radius: 60px;
  background-color: #edecec;
  color: #14120b;
  border: 1px solid #edecec;
  font-size: 14px;
}

/* Hero Section */

.hero-section {
  margin-top: 120px;
}

.hero-title {
  color: #edecec;
  font-size: 26px;
  font-weight: 200;
}

.hero-cta {
  padding: 12px 32px;
  border-radius: 90px;
  margin-top: 20px;
  font-size: 13px;
  border: transparent;
}

.bg-img-section {
  margin-top: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img {
  width: 100%;
  border-radius: 6px;
  display: block;
}

.code-img {
  position: absolute;
  width: 85%;
  border-radius: 8px;
}

/* Testimonials */

.testimonial {
  margin-top: 80px;
}

.testimonial-title {
  color: #edecec;
  text-align: center;
  font-size: 14px;
}

.logos {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}

.logo-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1913;
  width: 160px;
  height: 100px;
  padding: 20px;
  border-radius: 4px;
}

/* Features */

.feature {
  background-color: #1b1913;
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.content {
  color: #edecec;
}

.content-text {
  font-size: 22px;
  line-height: 28.6px;
}

.img-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.feature-bg-img {
  border-radius: 4px;
}

.feature-cta {
  margin-top: 12px;
  color: #f54e00;
}

.feature-img {
  position: absolute;
  width: 660px;
  height: 480px;
  border-radius: 8px;
}

.content-3 {
  color: #edecec;
  margin-right: 40px;
}

.content-2 {
  color: #edecec;
  margin-right: 40px;
}
/* Reviews */

.reviews {
  margin-top: 120px;
}

.review-title {
  color: #edecec;
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  letter-spacing: -0.7px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-top: 40px;
}

.review-card {
  background-color: #1b1913;
  color: #edecec;
  padding: 20px;
  height: 280px;
  border-radius: 6px;
}

.review-msg {
  height: 198px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.client-name {
  font-size: 14px;
}

.client-designation {
  font-size: 14px;
  color: rgba(237, 236, 236, 0.6);
}

.user-img img {
  border-radius: 10%;
  width: 40px;
  height: 40px;
}

/* Explore Section */

.explore-section {
  border: solid purple;

  margin-top: 160px;
}

.explore-title h2 {
  color: #edecec;
}

.explore-container {
  border: solid burlywood;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}

.explore-card {
  border: solid white;
  color: #edecec;
  padding: 16px;
  background-color: #1b1913;
  border-radius: 4px;
}

.img-bg1 {
  margin-top: 24px;
  height: 380px;
  background-color: rgb(77, 63, 52);
  border-radius: 4px;
}

.img-bg2 {
  margin-top: 24px;
  height: 380px;
  background-color: rgb(55, 61, 42);
  border-radius: 4px;
}

.img-bg3 {
  margin-top: 24px;
  height: 380px;
}

.img-bg {
  border-radius: 4px;
}

/* Changelog Section */

.changelog {
  border: solid white;
  margin-top: 160px;
  color: #edecec;
}

.changelog-title {
  border: solid orange;
}

.changelog-card-container {
  border: solid pink;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.changelog-card {
  background-color: #1b1913;
  border: solid brown;
}

.changelog-cta {
  margin-top: 24px;
  color: #f54e00;
}

/* Join-us Section */

.join-us {
  border: solid pink;
  margin-top: 100px;
}

.content {
  margin-top: 48px;
  margin-bottom: 56px;
}

.content p {
  margin-bottom: 20px;
}

.join-us-img {
  border-radius: 6px;
}

/* Recent Highlights Section */

.recent-highlights {
  border: solid greenyellow;
  margin-top: 120px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-color: #1b1913;
  display: flex;
  justify-content: center;
  color: #edecec;
}

.main-highlight-container {
  border: solid purple;
  width: 1300px;
}

.main-highlight-container2 {
  border: solid rgb(255, 1, 200);
  display: flex;
  gap: 260px;
}

.highlight-card {
  background-color: #26241e;
  padding: 16px;
  margin: 10px;
  border-radius: 4px;
}
.highlight-cta {
  margin-top: 24px;
  padding-left: 10px;
}

/* CTA Banner Section */
.cta-banner {
  border: solid white;
  text-align: center;
  color: #edecec;
  margin: 80px 0px;
  padding: 80px 0px;
}

.cta-banner button {
  padding: 12px 24px;
  margin-top: 24px;
  border-radius: 90px;
}

/* Footer Section */

.footer {
  border: solid orange;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-color: #1b1913;
  display: flex;
  justify-content: center;
  color: #edecec;
}

.footer-container1 {
  border: solid blue;
  width: 1300px;
  padding-top: 32px;
}

.footer-container {
  border: solid green;
}

.footer-quick-links {
  border: solid purple;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

ul {
  list-style: none;
}

.footer-quick-links ul li {
  padding-bottom: 12px;
}

.copyright {
  margin: 48px 0px;
  border: dotted palegreen;
}
